.contacts {
    display: flex;
    align-items: center;
    gap: 40px;
    &__number{
        @include font-size(16);
    }
    @media(max-width: ($md2 + px)) {
        flex-direction: column;
        gap: 10px;
    }
}